.three-auth-bg.svelte-17i4yat{position:absolute;top:0;right:0;bottom:0;left:0;pointer-events:none;z-index:0;overflow:hidden}.three-auth-bg.svelte-17i4yat canvas:where(.svelte-17i4yat){display:block;width:100%;height:100%}
